body{
    background-color:#032b47;
    background-repeat: repeat-x;

}

#contenu{
    background-color: #1678B9;
    background-image: url("connexion.jpg");
    background-repeat: no-repeat;
    width: 320px;
    margin-top:-5px;
    
 
}

form{
   color: #FFFFFF;
   font-size: 15px;
   padding : 10px;
   width: 250px;

h1{

}

a:visited,a{
    color:black;
    text-decoration:underlined;
}

a:hover{
    color:yellow;
    font-size:125%;
}

p{
    text-align:center;
}

table{
   border-collapse: collapse;
}


tr,td,th{
	border:solid 1px black;
}
