body{
	background-color:rgb(163,185,199);
}

form{
	margin:10px;
	padding:10px;
	border:dashed black 1px;
	text-align:center;
}

h1{
	color:rgb(175,0,0);
}

a:visited,a{
	color:black;
	text-decoration:underlined;
}

a:hover{
	color:yellow;
	font-size:125%;
}

p{
	text-align:center;
}

table{
   border-collapse: collapse;
}


tr,td,th{
	border:solid 1px black;
}